<.h1>
  <%= @election.name %>
  <br /> (<%= @election.month_name %> <%= @election.date.year %>)
</.h1>

<.election_details year={@election.date.year} month={@election.month_name} />

<%= if @election.show_statements do %>
  <.h2 class="mt-10">Резултати</.h2>
  <%= live_render(@conn, LzhWeb.ElectionLive.Show, session: %{"election" => @election.id}) %>
<% end %>
